# server
server:
  port: 80
  servlet:
    context-path: /
  tomcat:
    threads:
      max: 10
      min-spare: 3

# datasource
spring:
  datasource:
    url: jdbc:mysql:///jtsys?serverTimezone=GMT%2B8&characterEncoding=UTF8
    username: root
    password: 123456
  thymeleaf:
    prefix: classpath:/templates/pages/
    suffix: .html
    cache: false

# mybatis
mybatis:
  configuration:
    default-statement-timeout: 60
    map-underscore-to-camel-case: true
  mapper-locations:
    - classpath:/mapper/*/*.xml

# spring.thymeleaf


# log
logging:
  level:
    com.github.gudian1618.cgb2011dbsysv1: DEBUG
