<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.gudian1618.cgb2011dbsysv1.dao.SysRoleDao">

    <!--提取共性动态sql语句-->
    <sql id="queryWhereId">
        from sys_logs
        <where>
            <if test="username!=null and username!=''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </sql>

    <select id="findPageObjects" resultType="com.github.gudian1618.cgb2011dbsysv1.entity.SysRole">
        select id,name,note,createdTime,modifiedTime,createdUser,modifiedUser
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getRowCount" resultType="long">
        select count(*)
        <include refid="queryWhereId"/>
    </select>
</mapper>
