<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.gudian1618.cgb2011dbsysv1.dao.SysRoleDao">

    <!--提取共性动态sql语句-->
    <sql id="queryWhereId">
        from sys_roles
        <where>
            <if test="name!=null and name!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <!--insert元素中的
        1.useGeneratedKeys表示要使用的insert操作后主键值
        2.keyProperty表示将主键值存储到参数对象的id属性上.-->
    <insert id="insertObject"
            parameterType="com.github.gudian1618.cgb2011dbsysv1.entity.SysRole"
            useGeneratedKeys="true"
            keyProperty="id"
            >
--         select last_insert_id();
        insert into sys_roles (id,name,note,createdUser,modifiedUser,createdTime,modifiedTime)
        values (null,#{name},#{note},#{createdUser},#{modifiedUser},now(),now())
    </insert>

    <select id="findPageObjects" resultType="com.github.gudian1618.cgb2011dbsysv1.entity.SysRole">
        select id,name,note,createdTime,modifiedTime,createdUser,modifiedUser
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getRowCount" resultType="long">
        select count(*)
        <include refid="queryWhereId"/>
    </select>

    <select id="findObjectById" resultType="com.github.gudian1618.cgb2011dbsysv1.common.vo.SysRoleMenuVo">
        select id,name,note
        from sys_roles
        where id=#{id}
    </select>

</mapper>
